<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div>
        <a href="~/DashBoard"><i class="fa fa-home"></i>Trở về trang chủ</a>
    </div>
    <script>
        alert("Bạn không đủ quyền để thực hiện thao tác này");
    </script>
</body>

</html>
